#course-detail .col,
#course-detail .col-1,
#course-detail .col-10,
#course-detail .col-11,
#course-detail .col-12,
#course-detail .col-2,
#course-detail .col-3,
#course-detail .col-4,
#course-detail .col-5,
#course-detail .col-6,
#course-detail .col-7,
#course-detail .col-8,
#course-detail .col-9,
#course-detail .col-auto,
#course-detail .col-lg,
#course-detail .col-lg-1,
#course-detail .col-lg-10,
#course-detail .col-lg-11,
#course-detail .col-lg-12,
#course-detail .col-lg-2,
#course-detail .col-lg-3,
#course-detail .col-lg-4,
#course-detail .col-lg-5,
#course-detail .col-lg-6,
#course-detail .col-lg-7,
#course-detail .col-lg-8,
#course-detail .col-lg-9,
#course-detail .col-lg-auto,
#course-detail .col-md,
#course-detail .col-md-1,
#course-detail .col-md-10,
#course-detail .col-md-11,
#course-detail .col-md-12,
#course-detail .col-md-2,
#course-detail .col-md-3,
#course-detail .col-md-4,
#course-detail .col-md-5,
#course-detail .col-md-6,
#course-detail .col-md-7,
#course-detail .col-md-8,
#course-detail .col-md-9,
#course-detail .col-md-auto,
#course-detail .col-sm,
#course-detail .col-sm-1,
#course-detail .col-sm-10,
#course-detail .col-sm-11,
#course-detail .col-sm-12,
#course-detail .col-sm-2,
#course-detail .col-sm-3,
#course-detail .col-sm-4,
#course-detail .col-sm-5,
#course-detail .col-sm-6,
#course-detail .col-sm-7,
#course-detail .col-sm-8,
#course-detail .col-sm-9,
#course-detail .col-sm-auto,
#course-detail .col-xl,
#course-detail .col-xl-1,
#course-detail .col-xl-10,
#course-detail .col-xl-11,
#course-detail .col-xl-12,
#course-detail .col-xl-2,
#course-detail .col-xl-3,
#course-detail .col-xl-4,
#course-detail .col-xl-5,
#course-detail .col-xl-6,
#course-detail .col-xl-7,
#course-detail .col-xl-8,
#course-detail .col-xl-9,
#course-detail .col-xl-auto {
  padding-right: 10px;
  padding-left: 10px;
}

#course-detail .row {
  margin-right: -10px;
  margin-left: -10px;
}