@charset "utf-8";

/**/

html[data-theme='light'] {
  /* color theme */
  --color-text-tan: #b88b46;
  --color-text-yellow: #e8a600;
  --color-text-orange: #ec6f49;
  --color-text-red: #dc3545;
  --color-text-green: #52b76c;
  --color-text-teal: #20c997;
  --color-text-cyan: #00badf;
  /* color */
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #52b76c;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --tan: #c7af8b;
  /* background-color -------------------------------- */
  --body-background: #f0f2f5;
  --secondary-background: #fff;
  --third-background: #ebebeb;
  /* background-button-color ------------------------- */
  --primary-btn-background: #dfdfdf;
  /* border-color ------------------------------------ */
  --secondary-border-color: #e4e4e4;
  --third-border-color: #e4e4e4;
  --fourth-border-color: #d8d8d8;
  --fifth-border-color: #c4c4c4;
  /* text-color -------------------------------------- */
  --primary-text: #444;
  --highlight-text: #333;
}

html[data-theme='dark'] {
  /* color theme */
  --color-text-tan: #c7af8b;
  --color-text-yellow: #f8d06d;
  --color-text-orange: #ec6f49;
  --color-text-red: #dc3545;
  --color-text-green: #52b76c;
  --color-text-teal: #20c997;
  --color-text-cyan: #0dcaf0;
  /* color */
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #52b76c;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --tan: #c7af8b;
  /* background-color -------------------------------- */
  --body-background: #121212;
  --secondary-background: #1d1d1d;
  --third-background: #333;
  /* background-button-color ------------------------- */
  --primary-btn-background: #222;
  /* border-color ------------------------------------ */
  --secondary-border-color: #1d1d1d;
  --third-border-color: #333;
  --fourth-border-color: #393939;
  --fifth-border-color: #666;
  /* text-color -------------------------------------- */
  --primary-text: #dfdfdf;
  --highlight-text: #fff;
}

html[color-theme='tan'] {
  --secondary-highlight-text: var(--color-text-tan);
}

html[color-theme='yellow'] {
  --secondary-highlight-text: var(--color-text-yellow);
}

html[color-theme='orange'] {
  --secondary-highlight-text: var(--color-text-orange);
}

html[color-theme='red'] {
  --secondary-highlight-text: var(--color-text-red);
}

html[color-theme='green'] {
  --secondary-highlight-text: var(--color-text-green);
}

html[color-theme='teal'] {
  --secondary-highlight-text: var(--color-text-teal);
}

html[color-theme='cyan'] {
  --secondary-highlight-text: var(--color-text-cyan);
}


/*----- Background color -----*/

.bg-color-secondary {
  background-color: var(--secondary-background) !important;
}

.bg-dark-2 {
  background-color: #222 !important;
}

.bg-dark-3 {
  background-color: #333 !important;
}


/*----- Color -----*/

.color-highlight {
  color: var(--highlight-text);
}

.color-secondary-highlight {
  color: var(--secondary-highlight-text);
}

.color-red {
  color: var(--red);
}

.color-violet-red {
  color: #cb1d5b;
}

.color-yellow {
  color: #ffcf5c;
}

.color-orange {
  color: #fc643f;
}

.color-aquamarine {
  color: #00c48c;
}

.color-blue {
  color: #4267b2;
}

.color-red {
  color: #c72626;
}

.color-gg {
  color: #e85430;
}

.color-green {
  color: #03bb65;
}

.color-gradient-1 {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #03bb65), color-stop(1, #00ff88));
  color: transparent !important;
  -webkit-background-clip: text;
}

.color-gradient-2 {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff841a), color-stop(1, #fff707));
  color: transparent !important;
  -webkit-background-clip: text;
}