@charset "utf-8";

/**/

html[data-theme='auto'] {
  /* color theme */
  --color-text-tan: #b88b46;
  --color-text-yellow: #e8a600;
  --color-text-orange: #ec6f49;
  --color-text-red: #dc3545;
  --color-text-green: #52b76c;
  --color-text-teal: #20c997;
  --color-text-cyan: #00badf;
  --color-text-pink: #d63384;
  /* color */
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #52b76c;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --tan: #c7af8b;
  /* background-color -------------------------------- */
  --body-background: #f0f2f5;
  --secondary-background: #fff;
  --third-background: #ebebeb;
  --fourth-background: #bebebe;
  /* background-button-color ------------------------- */
  --primary-btn-background-hover: #dfdfdf;
  /* border-color ------------------------------------ */
  --secondary-border-color: #e4e4e4;
  --third-border-color: #e4e4e4;
  --fourth-border-color: #d8d8d8;
  --fifth-border-color: #c4c4c4;
  /* text-color -------------------------------------- */
  --primary-text: #444;
  --secondary-text: #555;
  --third-text: #888;
  --highlight-text: #333;
  /* scroll-bar -------------------------------------- */
  --scrollbar-thumb-background: #ccc;
}

html[data-theme='light'] {
  /* color theme */
  --color-text-tan: #b88b46;
  --color-text-yellow: #e8a600;
  --color-text-orange: #ec6f49;
  --color-text-red: #dc3545;
  --color-text-green: #52b76c;
  --color-text-teal: #20c997;
  --color-text-cyan: #00badf;
  --color-text-pink: #d63384;
  /* color */
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #52b76c;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --tan: #c7af8b;
  /* background-color -------------------------------- */
  --body-background: #f0f2f5;
  --secondary-background: #fff;
  --third-background: #ebebeb;
  --fourth-background: #bebebe;
  /* background-button-color ------------------------- */
  --primary-btn-background-hover: #dfdfdf;
  /* border-color ------------------------------------ */
  --secondary-border-color: #e4e4e4;
  --third-border-color: #e4e4e4;
  --fourth-border-color: #d8d8d8;
  --fifth-border-color: #c4c4c4;
  /* text-color -------------------------------------- */
  --primary-text: #444;
  --secondary-text: #555;
  --third-text: #888;
  --highlight-text: #333;
  /* scroll-bar -------------------------------------- */
  --scrollbar-thumb-background: #ccc;
}

html[data-theme='dark'] {
  /* color theme */
  --color-text-tan: #c7af8b;
  --color-text-yellow: #f8d06d;
  --color-text-orange: #ec6f49;
  --color-text-red: #dc3545;
  --color-text-green: #52b76c;
  --color-text-teal: #20c997;
  --color-text-cyan: #0dcaf0;
  --color-text-pink: #d63384;
  /* color */
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #52b76c;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --tan: #c7af8b;
  /* background-color -------------------------------- */
  --body-background: #121212;
  --secondary-background: #1d1d1d;
  --third-background: #2e2e2e;
  --fourth-background: #3a3b3c;
  /* background-button-color ------------------------- */
  --primary-btn-background-hover: #222;
  /* border-color ------------------------------------ */
  --secondary-border-color: transparent;
  --third-border-color: #2e2e2e;
  --fourth-border-color: #333;
  --fifth-border-color: #666;
  /* text-color -------------------------------------- */
  --primary-text: #e4e6eb;
  --secondary-text: #999;
  --third-text: #888;
  --highlight-text: #fff;
  /* scroll-bar -------------------------------------- */
  --scrollbar-thumb-background: #2e2e2e;
}

html[data-color='tan'] {
  --secondary-highlight-text: var(--color-text-tan);
}

html[data-color='yellow'] {
  --secondary-highlight-text: var(--color-text-yellow);
}

html[data-color='orange'] {
  --secondary-highlight-text: var(--color-text-orange);
}

html[data-color='red'] {
  --secondary-highlight-text: var(--color-text-red);
}

html[data-color='green'] {
  --secondary-highlight-text: var(--color-text-green);
}

html[data-color='teal'] {
  --secondary-highlight-text: var(--color-text-teal);
}

html[data-color='cyan'] {
  --secondary-highlight-text: var(--color-text-cyan);
}

html[data-color='pink'] {
  --secondary-highlight-text: var(--color-text-pink);
}


/*----- Background color -----*/

.bg-color-secondary {
  background-color: var(--secondary-background) !important;
  border: 1px solid var(--secondary-border-color);
}

.bg-dark-2 {
  background-color: #222 !important;
}

.bg-dark-3 {
  background-color: #333 !important;
}


/*----- Color -----*/

.color-highlight {
  color: var(--highlight-text);
}

.color-secondary-highlight {
  color: var(--secondary-highlight-text);
}

.color-red {
  color: var(--red);
}

.color-violet-red {
  color: #cb1d5b;
}

.color-yellow {
  color: #ffcf5c;
}

.color-orange {
  color: #fc643f;
}

.color-aquamarine {
  color: #00c48c;
}

.color-blue {
  color: #4267b2;
}

.color-red {
  color: #c72626;
}

.color-gg {
  color: #e85430;
}

.color-green {
  color: #03bb65;
}

.color-gradient-1 {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #03bb65), color-stop(1, #00ff88));
  color: transparent !important;
  -webkit-background-clip: text;
}

.color-gradient-2 {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff841a), color-stop(1, #fff707));
  color: transparent !important;
  -webkit-background-clip: text;
}