@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.75;
  color: var(--primary-text);
  background-color: var(--body-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-highlight-text);
  font-weight: 500;
  word-break: break-word;
  word-wrap: break-word;
}

h4 {
  font-size: 18px;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.border-radius-20 {
  border-radius: 20px;
}

.w-85 {
  width: 85%;
}

.w-70 {
  width: 70%;
}

.w-55 {
  width: 55%;
}

@media (max-width: 767.98px) {
  .w-85,
  .w-70,
  .w-55 {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .text-left,
  .text-right {
    text-align: center !important;
  }
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid var(--third-border-color);
}

hr {
  margin-top: 1rem;
  margin-bottom: .65rem;
  border-top: 1px solid var(--fourth-border-color);
}

.modal-body span {
  font-size: 18px;
  font-weight: 500;
}


/* Responsive title ----------------------------------------------------------------- */

.show-ui {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 991.98px) {
  .show-ui {
    display: none;
  }
  .hidden {
    display: block;
  }
}


/* Title ---------------------------------------------------------------------------- */

h1.title {
  font-size: 55px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-style: normal;
}

h6.sub-title {
  font-size: 18px;
  letter-spacing: 1px;
  font-style: normal;
}

h6.sub-title.sub-title-mb {
  margin-bottom: 50px;
}

@media (max-width: 991.98px) {
  h6.sub-title.sub-title-mb {
    margin-bottom: 30px;
    line-height: 1.75;
  }
}

@media (max-width: 767.98px) {
  h1.title {
    font-size: 50px;
  }
}

@media (max-width: 575.98px) {
  h1.title {
    font-size: 45px;
  }
}


/* Section -------------------------------------------------------------------------- */

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}


/* Section cover -------------------------------------------------------------------- */

#cover {
  padding-top: 60px;
  padding-bottom: 0;
}

#cover.fix {
  padding-top: 190px;
}

#cover .container {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 120px;
  border-radius: 32px;
  max-width: 82%;
  border: 1px solid var(--secondary-border-color);
}

#cover h1 {
  font-size: 65px;
  margin: 0;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
}

#cover p {
  margin: 30px 0 6px;
  letter-spacing: 1px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
}

#cover .wrap {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#cover .align-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 1199.98px) {
  #cover .container {
    max-width: 930px;
  }
}

@media (max-width: 991.98px) {
  #cover {
    padding-top: 60px;
  }
  #cover .container {
    max-width: 690px;
    padding: 80px 80px 90px;
  }
  #cover p {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  #cover {
    padding-top: 40px;
  }
  #cover .container {
    max-width: 540px;
    padding: 60px 60px 80px;
  }
}

@media (max-width: 575.98px) {
  #cover {
    padding-top: 20px;
  }
  #cover .container {
    max-width: 92%;
    padding: 60px 30px 80px;
  }
  #cover .text-left {
    text-align: center !important;
  }
}


/* Nav bar --------------------------------------------------------------------------- */

#menu {
  padding: 32px 0;
  transition: .3s;
}

#menu.color-top {
  border-top: 2px solid var(--secondary-highlight-text);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.35);
}

#menu.menu-small {
  padding: 0;
}

#menu .navbar {
  padding: .5rem 0;
}

#menu .navbar.justify-content {
  justify-content: space-between !important;
}

#menu .site-branding a img {
  height: 60px;
  margin-top: -22px;
}

#menu .site-branding a img.img-small {
  height: 40px;
  margin-top: 0;
}

#menu .site-navigation.show ul {
  left: 0;
  z-index: 999;
}

@media screen and (max-width: 991.98px) {
  #menu .site-navigation ul {
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    padding: 30px;
    background: #0c0c0c;
    transition: all 0.35s;
    z-index: 1;
  }
}

#menu .hamburger-menu {
  position: relative;
  margin: 0 auto;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu .hamburger-menu .icon-bar {
  display: block;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-text);
  width: 35px;
  transition: all 0.25s ease;
}

#menu .hamburger-menu .icon-bar+.icon-bar {
  margin-top: 8px;
}

#menu .hamburger-menu .icon-bar:nth-child(1) {
  transform: rotate(-45deg);
  transform-origin: 90% 10%;
}

#menu .hamburger-menu .icon-bar:nth-child(2) {
  opacity: 0;
}

#menu .hamburger-menu.rotate .icon-bar:nth-child(1) {
  transform: none;
}

#menu .hamburger-menu.rotate .icon-bar:nth-child(2) {
  opacity: 1;
}

#menu .hamburger-menu.rotate .icon-bar:nth-child(3) {
  transform: none;
}

#menu .hamburger-menu .icon-bar:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: 90% 10%;
}


/* #menu .site-navigation ul li a:hover,
#menu .site-navigation ul li.active a {
  color: #ffcf5c;
} */

#menu .site-navigation .nav-item a i {
  width: 20px;
  margin-right: 3px;
}

#menu .site-navigation ul li .nav-link {
  font-size: 16px;
  display: block;
  padding: 9px 12px;
  color: var(--secondary-highlight-text);
  text-decoration: none;
  font-weight: 500;
}

#menu .dropdown-menu {
  border-radius: .75rem;
  min-width: 195px;
  background-color: var(--secondary-background);
  border: 1px solid var(--third-border-color);
}

#menu .dropdown-menu .dropdown-header {
  padding: 4px 18px 0;
  font-size: 14px;
}

#menu .dropdown-menu .dropdown-item {
  color: var(--primary-text);
  padding: 3px 18px 3px 16px;
  transition: .3s;
}

#menu .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  transform: translateX(8px);
  color: var(--secondary-highlight-text);
}

#menu .dropdown-menu .dropdown-item.active,
.dropdown-item:active {
  color: var(--primary-text);
  text-decoration: none;
  background-color: transparent;
}

#menu .dropdown-menu .dropdown-item svg.bi-circle-half {
  width: 20px;
}

#menu .dropdown-menu .dropdown-item svg.bi-check-lg {
  float: right;
  margin-top: 4px;
  display: none;
}

#menu .dropdown-menu .dropdown-item.pressed svg {
  display: inline-block;
}

#menu .dropdown-menu .color-theme {
  display: flex;
  justify-content: center;
  padding: 8px 14px 8;
}

#menu .dropdown-menu .color-theme .color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 6px;
  border-radius: 6px;
}

#menu .dropdown-menu .color-theme .color i {
  color: #fff;
  width: auto !important;
  margin: 0 !important;
  display: none;
}

#menu .dropdown-menu .color-theme .color svg {
  color: #fff;
  display: none;
}

#menu .dropdown-menu .color-theme .color.pressed svg {
  display: inline-block;
}


/* Footer ---------------------------------------------------------------------------- */

#footer {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  font-size: 16px;
}

#footer .f-top {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer .f-top img {
  height: 45px;
  margin-bottom: 7px;
}

#footer h6 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
}

#footer .info ul,
#footer .social ul {
  padding: 0;
}

#footer .info ul li,
#footer .social ul li {
  list-style: none;
  padding: .15rem 0;
}

#footer .course ul {
  padding-left: 18px;
}

#footer .course ul li {
  padding: .15rem 0;
}

#footer .social ul li a {
  color: var(--primary-text);
  margin-right: 20px;
}

#footer .social ul li a:hover {
  color: #ffcf5c;
  text-decoration: none;
}

#footer .social ul li a i {
  font-size: 40px;
}

#footer .social ul li a.btn {
  color: var(--white);
}

#footer .social ul li a.btn i {
  font-size: 16px;
}

#signature {
  background-color: var(--body-background);
  color: var(--primary-text);
  font-size: 16px;
}

#signature .f-bot {
  padding: 8px 0;
}

#signature .f-bot span {
  padding: 2px 0;
  display: inline-block;
}

#signature .f-bot .copyright {
  text-align: right;
}

@media (max-width: 575.98px) {
  #footer .course {
    display: none;
  }
  #footer .f-top {
    padding: 3rem 0 2.5rem;
  }
  #signature .f-bot .clock {
    display: none;
  }
  #signature .f-bot .copyright {
    text-align: center;
  }
}


/* Scroll bar ------------------------------------------------------------------------ */

#page-top::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--body-background);
  border: 1px solid var(--scrollbar-thumb-background);
}

#page-top::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-background);
}

#page-top::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background);
  border-radius: 0;
}


/* Button scroll to top -------------------------------------------------------------- */

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  width: 46px;
  height: 46px;
  text-align: center;
  color: var(--primary-text);
  background-color: var(--secondary-background);
  border: 2px solid var(--fourth-border-color);
  line-height: 38px;
  border-radius: 12px;
}

.scroll-to-top:hover {
  background-color: var(--third-background);
  color: var(--primary-text);
}

.scroll-to-top i {
  font-weight: 800;
}


/* Bootstrap component custom css ---------------------------------------------------- */


/* ----- Modal ----- */

.modal-backdrop.show {
  opacity: .75;
}

.modal-header {
  border-bottom: 1px solid transparent;
}

.modal-header .close {
  padding: .75rem 1rem;
  color: #dfdfdf;
  text-shadow: none;
}

.modal-header .close:hover {
  color: #ffcf5c;
}

.modal-header .close:focus {
  outline: none;
}

.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5 {
  font-weight: 400;
}

.modal-body {
  padding: 1rem 1rem 0;
}

.modal-body h4 {
  font-weight: 400;
}

.modal-content {
  border-radius: 1rem;
  background-color: #222;
  border: none;
}

.modal-footer {
  border-top: 1px solid transparent;
}

.modal-body h4 {
  font-size: 16px;
  color: #ccc;
}

@media (min-width: 575.98px) {
  #logoutModal .modal-dialog {
    max-width: 500px;
  }
}


/* ----- Toast ----- */

.toast {
  font-size: 1rem;
}

.toast-error {
  background-color: #dc3545;
  border-radius: 12px;
}

.toast-success {
  background-color: #28a745;
  border-radius: 12px;
}

.toast-body {
  padding: .75rem 1rem;
  color: var(--white);
}

@media (max-width: 575.98px) {
  .toast {
    max-width: 300px;
  }
}


/* ----- Button ----- */

button:focus {
  outline: none;
}

.btn {
  line-height: 1.5;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-sm {
  border-radius: 6px;
  font-size: 14px;
  padding: 4px 14px;
}

.btn-md {
  border-radius: 8px;
  font-size: 16px;
  padding: 6px 16px;
}

.btn-lg {
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 20px;
}

.btn-dark-2 {
  background-color: #222 !important;
  border: 1px solid #222 !important;
  color: #dfdfdf !important;
}

.btn-dark-3 {
  background-color: #333 !important;
  border: 1px solid #333 !important;
  color: #dfdfdf !important;
}

.btn-dark-4 {
  background-color: #444 !important;
  border: 1px solid #444 !important;
  color: #dfdfdf !important;
}

.btn-success {
  background-color: transparent !important;
  color: var(--secondary-highlight-text) !important;
}

.btn-success:hover {
  color: var(--secondary-highlight-text) !important;
  background-color: var(--primary-btn-background-hover) !important;
  border-color: var(--secondary-highlight-text) !important;
}

.btn-success:target,
.btn-success:focus {
  box-shadow: 0 4px 0 currentColor;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 207, 92, 0.25);
}

.btn-outline {
  color: var(--secondary-highlight-text);
  border-color: var(--secondary-highlight-text);
}

.btn-outline-bottom-bold {
  color: var(--secondary-highlight-text);
  border: 2px solid var(--secondary-highlight-text) !important;
}

.btn-highlight {
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 36px;
  font-weight: 400;
  box-shadow: 0 4px 0 currentColor;
}

.btn-highlight-lg {
  padding: 18px 75px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 16px;
  box-shadow: 0 4px 0 currentColor;
}

.btn-highlight-icon {
  padding: 10px 24px !important;
}

.btn-white:hover,
.btn-dark-2:hover,
.btn-dark-3:hover,
.btn-dark-4:hover {
  color: #ffcf5c !important;
  box-shadow: 0 0 0 0.135rem rgba(253, 206, 92, 0.375);
}