/**/

.show-ui {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 991.98px) {
  .show-ui {
    display: none;
  }
  .hidden {
    display: block;
  }
}


/* Section cover -------------------------------------------------------------------- */

#cover {
  padding-top: 80px;
  padding-bottom: 80px;
}

#cover .container {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 120px;
  border-radius: 32px;
  max-width: 82%;
  border: 1px solid var(--secondary-border-color);
}

#cover h1 {
  font-size: 65px;
  margin-top: 12px;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
}

#cover p {
  margin: 30px 0;
  letter-spacing: 1px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
}

#cover .wrap {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#cover img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

#cover .image-1 {
  left: -75px;
  bottom: 20px;
}

#cover .image-2 {
  left: -33px;
  top: 195px;
}

#cover .image-3 {
  left: -11px;
  bottom: -141px;
}

#cover .image-4 {
  left: auto;
  right: -91px;
  bottom: -312px;
}

#cover .image-5 {
  left: 7px;
  top: 35px;
}

#cover .image-6 {
  left: -155px;
  top: 40px;
}

@media (max-width: 1199.98px) {
  #cover .container {
    max-width: 930px;
  }
  #cover .image-1 {
    left: 320px;
    bottom: -280px;
  }
  #cover .image-2 {
    left: 277px;
    top: 95px;
  }
  #cover .image-3 {
    left: 630px;
    bottom: 36px;
  }
  #cover .image-4 {
    right: 99px;
    bottom: -192px;
  }
  #cover .image-5 {
    left: 7px;
    top: 35px;
  }
  #cover .image-6 {
    left: 380px;
    top: -100px;
  }
}

@media (max-width: 991.98px) {
  #cover {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  #cover .container {
    padding: 80px;
    border-radius: 28px;
  }
  #cover .container {
    max-width: 690px;
  }
  #cover .image-1 {
    bottom: -213px;
  }
  #cover .image-2 {
    top: 115px;
  }
  #cover .image-4 {
    right: 49px;
    bottom: -102px;
  }
  #cover .image-6 {
    left: -295px;
    top: 80px;
  }
}

@media (max-width: 767.98px) {
  #cover {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  #cover .container {
    max-width: 540px;
    padding: 60px;
    border-radius: 28px;
  }
  #cover h1 {
    text-align: center;
  }
  #cover .image-1 {
    bottom: -280px;
  }
  #cover .image-3 {
    left: 110px;
    bottom: -50px;
  }
  #cover .image-4 {
    bottom: -200px;
    right: -80px;
  }
  #cover .image-6 {
    left: -100px;
    top: 20px;
  }
}

@media (max-width: 575.98px) {
  #cover {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #cover .container {
    max-width: 92%;
    padding: 90px 30px;
    border-radius: 24px;
  }
  #cover h1 {
    text-align: center;
  }
  #cover p {
    text-align: center;
  }
  #cover .btn-view-more {
    padding: 10px 50px;
    margin: 30px 0;
  }
  #cover .text-left {
    text-align: center !important;
  }
}


/* Section object ------------------------------------------------------------------- */

#object {
  padding-top: 60px;
  padding-bottom: 60px;
}

#object .box {
  padding: 16px 24px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: .3s;
  align-items: center;
  border: 1px solid var(--secondary-border-color);
}

#object .box p {
  margin: 0;
}

#object .box:hover {
  transform: translateX(24px);
  cursor: pointer;
}

#object .box i {
  margin-right: 24px;
  font-size: 32px;
}

@media (max-width: 991.98px) {}

@media (max-width: 575.98px) {
  #object {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  #object .box {
    margin-bottom: 16px;
  }
  #object .box:hover {
    transform: none;
  }
}


/* Section benefit ------------------------------------------------------------------ */

#benefit {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 575.98px) {
  #benefit {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


/* Section highlight course --------------------------------------------------------- */

#highlight-course {
  padding-top: 60px;
  padding-bottom: 60px;
}

#highlight-course .text-left p {
  margin: 30px 50px 30px 0;
}

#highlight-course .box {
  border-radius: 20px;
  margin-bottom: 24px;
  transition: 0.5s;
  padding-top: 28px;
  border: 1px solid var(--secondary-border-color);
}

#highlight-course .box:hover {
  cursor: pointer;
  transform: scale(1.04);
}

#highlight-course .box .icon-cover {
  background-color: var(--third-background);
  border-radius: 50%;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#highlight-course .box .icon-cover i {
  font-size: 48px;
}

#highlight-course .box .box-body {
  padding: 20px 20px 16px;
  width: 100%;
}

#highlight-course .box .box-body h4 {
  font-size: 17px;
  line-height: 1.5;
}

#highlight-course .box .box-body p {
  font-size: 14px;
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
  #highlight-course .box .box-body h4 {
    font-size: 18px;
  }
  #highlight-course .box .box-body p {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  #highlight-course {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #highlight-course .box {
    margin-bottom: 16px;
  }
}


/* Section overview ----------------------------------------------------------------- */

#overview {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 575.98px) {
  #overview {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


/* Section course detail ------------------------------------------------------------ */

#course-detail {
  padding-top: 60px;
  padding-bottom: 60px;
}

#course-detail .accordion a {
  padding: 10px 16px;
  border: 2px solid var(--third-border-color);
  width: 100%;
  text-align: left;
  display: inline-block;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary-text);
}

#course-detail .accordion a:hover {
  text-decoration: none;
}

#course-detail .accordion .collapsed i {
  transform: rotate(-90deg);
  transition: .6s;
  margin-top: 6px;
}

#course-detail .accordion a i {
  transition: .6s;
  margin-top: 6px;
}

#course-detail .accordion .collapse-panel {
  margin-bottom: 18px;
}

#course-detail .accordion .card-body {
  padding: 10px 16px;
  border: 2px solid var(--fourth-border-color);
  border-top: none;
  background: transparent;
  border-radius: 14px;
}

@media (max-width: 575.98px) {
  #course-detail {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #course-detail .accordion .collapse-panel {
    margin-bottom: 16px;
  }
  #course-detail .accordion .pt-3 {
    padding-top: 0 !important;
  }
}


/* Section register now ------------------------------------------------------------- */

#register-now {
  padding-top: 30px;
  padding-bottom: 60px;
}

@media (max-width: 575.98px) {
  #register-now {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


/* Section result ------------------------------------------------------------------- */

#result {
  padding-top: 60px;
  padding-bottom: 60px;
}

#result .y {
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 32px;
}

#result .x {
  width: 80%;
  margin: 0 auto;
}

#result .carousel-inner {
  border-radius: 32px;
}

#result .carousel img {
  border-radius: 20px;
}

#result .carousel .content {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

#result .carousel .content h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#result .carousel button {
  background-color: transparent;
  border: none;
}

#result .carousel button i {
  font-size: 24px;
  color: var(--primary-text);
}

#result .carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

@media (max-width: 767.98px) {
  #result .carousel .content h4 {
    margin-top: 50px;
  }
}

@media (max-width: 575.98px) {
  #result {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #result .y {
    padding-top: 38px;
    padding-bottom: 15px;
  }
}


/* Section faq ---------------------------------------------------------------------- */

#faq {
  padding-top: 60px;
  padding-bottom: 40px;
}

#faq .text-left h1 span {
  font-size: 36px;
}

#faq .text-left p {
  margin-bottom: 40px;
}

#faq .accordion a {
  padding: 10px 16px;
  border: 2px solid var(--third-border-color);
  width: 100%;
  text-align: left;
  display: inline-block;
  color: var(--primary-text);
  border-radius: 14px;
}

#faq .accordion a:hover {
  text-decoration: none;
}

#faq .accordion .collapsed i {
  transform: rotate(-90deg);
  transition: .6s;
  margin-top: 6px;
}

#faq .accordion a i {
  transition: .6s;
  margin-top: 6px;
}

#faq .accordion .collapse-panel {
  margin-bottom: 18px;
}

#faq .accordion .card-body {
  padding: 10px 16px;
  border: 2px solid var(--fourth-border-color);
  border-top: none;
  background: transparent;
  border-radius: 14px;
}

@media (max-width: 575.98px) {
  #faq {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}


/* Promotion ------------------------------------------------------------------------ */

#promotion {
  padding-top: 60px;
  padding-bottom: 40px;
}

#promotion .box {
  padding: 16px 24px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: .3s;
  align-items: center;
  border: 1px solid var(--secondary-border-color);
}

#promotion .box p {
  margin: 0;
}

#promotion .box p span {
  width: 112px;
  margin-right: 16px;
  font-size: 48px;
  line-height: 1.2;
  display: inline-block;
  text-align: right;
}


/* Contact form --------------------------------------------------------------------- */

#contact {
  padding-top: 60px;
  padding-bottom: 120px;
}

#contact .box {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 50px 50px;
  border-radius: 32px;
}

#contact img {
  max-width: 50%;
  vertical-align: middle;
  display: inline-block;
}

#contact .image-1 {
  left: 300px;
  bottom: -90px;
}

#contact .image-2 {
  left: -35px;
  top: 300px;
}

#contact .image-3 {
  left: 280px;
  bottom: 40px;
}

#contact .image-4 {
  left: auto;
  right: -200px;
  bottom: -200px;
}

#contact .image-5 {
  left: 150px;
  top: 200px;
}

#contact .image-6 {
  left: -120px;
  top: 160px;
}

#contact .form-contact {
  margin-top: 16px;
}

#contact .input-group {
  margin-bottom: 16px;
}

#contact .form-control {
  font-size: 16px;
  border-radius: 12px;
  padding: 10px 16px;
  height: calc(1.5em + .75rem + 10px);
  background-color: var(--body-background);
  border: 2px solid var(--fourth-border-color);
}

#contact textarea.form-control {
  height: auto !important;
}

#contact .form-control:focus {
  border-color: var(--third-border-color);
  box-shadow: 0 0 0 1px var(--third-border-color);
}

@media (max-width: 1199.98px) {
  #contact .container {
    max-width: 930px;
  }
  #contact .container h1 {
    margin-right: 20px;
    text-align: center;
    font-size: 50px;
  }
}

@media (max-width: 991.98px) {
  #contact .container {
    max-width: 690px;
    padding: 60px 100px 80px;
  }
}

@media (max-width: 767.98px) {
  #contact {
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 0;
    z-index: 1;
    transition: .5s;
  }
  #contact .container {
    padding: 15px;
    max-width: 540px;
    background-color: transparent !important;
  }
  #contact .container .wrap {
    display: none;
  }
  #contact .container h1 {
    font-size: 55px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  #contact .container p {
    text-align: center;
  }
  #contact .input-group {
    margin-bottom: 18px;
  }
  #contact .form-control {
    background-color: #151515;
  }
  #contact .form-contact .btn-contact {
    margin-top: 8px;
  }
}

@media (max-width: 575.98px) {
  #contact .container h1 {
    font-size: 50px;
  }
}


/* Register ------------------------------------------------------------------------- */

.divider {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.divider:before,
.divider:after {
  content: '';
  height: 2px;
  background-color: #544e45;
  flex: 1;
}

.divider:before {
  margin-right: 20px;
}

.divider:after {
  margin-left: 20px;
}

.modal {
  padding: 0 !important;
}


/* #registerModal .modal-dialog {
  max-width: 100%;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #151515 inset !important;
}


/*Change text in autofill textbox*/

input:-webkit-autofill {
  -webkit-text-fill-color: #aaa !important;
}


/* #registerModal .modal-backdrop.show {
  opacity: 1 !important;
} */

#registerModal .modal-content {
  border-radius: 12px;
  background-color: #1d1d1d;
  border: none;
}

#registerModal .modal-header {
  border-bottom: 1px solid transparent !important;
  padding: 20px 20px 18px 20px;
}

#registerModal .modal-header .close {
  font-size: 35px;
  padding: 4px 5px;
  color: #d4d4d4;
  text-shadow: none;
}

#registerModal .modal-header .close:hover {
  color: #ffcf5c;
}

#registerModal .modal-header .close:focus {
  outline: none;
}

#registerModal .modal-body {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

#registerModal .modal-body .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #c7af8b;
  background-color: #c7af8b;
}

#registerModal .modal-body p {
  line-height: 25px;
}

#registerModal .modal-body form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}

#registerModal .modal-body .form-control {
  border: 1px solid #333;
  background-color: #151515;
  border-radius: 0 8px 8px 0;
  color: #aaa;
}

#registerModal .modal-body .custom-select {
  height: calc(1.5em + 1rem + 2px);
}

#registerModal .modal-body .form-control .custom-control-label {
  font-size: 1rem;
}

#registerModal .modal-body .form-control.form-control-lg {
  font-size: 17px;
}

#registerModal .modal-body .form-control:focus {
  box-shadow: none;
  border-color: #6f6350;
}

#registerModal .modal-body .input-group-text {
  border-radius: 8px 0 0 8px;
  padding: .375rem 1rem;
  border: 1px solid #333;
  background-color: #1c1c1c;
  font-size: 17px;
  color: #c7af8b;
}

#registerModal .modal-body input.form-control {
  border-radius: 0 8px 8px 0;
}

#registerModal .modal-body textarea.form-control {
  border-radius: 8px;
}

#registerModal .modal-body .btn-submit {
  border: none;
  font-size: 1rem;
  border: 1px solid #333;
  background-color: #151515;
  border-radius: .5rem;
  padding: 0 1.25rem;
  height: calc(2.25em + 7px);
  width: 100%;
  font-weight: 500;
  color: #c7af8b;
}

.text label {
  font-size: 15px;
}

#registerModal .modal-body .btn-submit:hover {
  outline: 0;
  color: #ffcf5c;
  box-shadow: none;
  background-color: #282828;
}

@media (max-width: 575.98px) {
  #registerModal .modal-dialog {
    margin-left: 0;
    margin-right: 0;
  }
  #registerModal .modal-body {
    max-height: 80vh;
    overflow-y: auto;
  }
  #registerModal .modal-body form {
    margin-top: 40px;
  }
}


/* Timeline css --------------------------------------------------------------- ------*/

.timeline {
  margin: 0 auto;
  padding: 0;
  max-width: 840px;
  position: relative;
}

.timeline:before {
  position: absolute;
  top: 10px;
  bottom: 65px;
  width: 4px;
  background: var(--fourth-border-color);
  left: 6px;
  margin-left: 0px;
}

.timeline-item:before,
.timeline:before {
  content: '';
}

::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-item {
  position: relative;
  padding-left: 60px;
  list-style: none;
}

.timeline-item+.timeline-item {
  margin-top: 30px;
}

.timeline-item:before {
  position: absolute;
  top: 5px;
  left: 0;
  border: 2px solid var(--fifth-border-color);
  width: 16px;
  height: 16px;
  background-color: var(--secondary-highlight-text);
  border-radius: 50px;
}

.timeline-date {
  position: absolute;
  display: block;
  left: 0;
  top: -2px;
  width: 90px;
  text-align: left;
  overflow: hidden;
  transition: .5s;
}

.timeline-date span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 28px;
  font-size: 15px;
  color: #777777;
}

.timeline-content:before {
  content: "";
}

.timeline-content {
  position: relative;
  min-height: 85px;
  transition: .5s;
}

@media (max-width: 991.98px) {
  .timeline-item+.timeline-item {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
  .timeline-item {
    padding-left: 36px;
  }
  .timeline:before {
    bottom: 115px;
  }
}


/* Col ------------------------------------------------------------------------------ */

#highlight-course .col,
#highlight-course .col-1,
#highlight-course .col-10,
#highlight-course .col-11,
#highlight-course .col-12,
#highlight-course .col-2,
#highlight-course .col-3,
#highlight-course .col-4,
#highlight-course .col-5,
#highlight-course .col-6,
#highlight-course .col-7,
#highlight-course .col-8,
#highlight-course .col-9,
#highlight-course .col-auto,
#highlight-course .col-lg,
#highlight-course .col-lg-1,
#highlight-course .col-lg-10,
#highlight-course .col-lg-11,
#highlight-course .col-lg-12,
#highlight-course .col-lg-2,
#highlight-course .col-lg-3,
#highlight-course .col-lg-4,
#highlight-course .col-lg-5,
#highlight-course .col-lg-6,
#highlight-course .col-lg-7,
#highlight-course .col-lg-8,
#highlight-course .col-lg-9,
#highlight-course .col-lg-auto,
#highlight-course .col-md,
#highlight-course .col-md-1,
#highlight-course .col-md-10,
#highlight-course .col-md-11,
#highlight-course .col-md-12,
#highlight-course .col-md-2,
#highlight-course .col-md-3,
#highlight-course .col-md-4,
#highlight-course .col-md-5,
#highlight-course .col-md-6,
#highlight-course .col-md-7,
#highlight-course .col-md-8,
#highlight-course .col-md-9,
#highlight-course .col-md-auto,
#highlight-course .col-sm,
#highlight-course .col-sm-1,
#highlight-course .col-sm-10,
#highlight-course .col-sm-11,
#highlight-course .col-sm-12,
#highlight-course .col-sm-2,
#highlight-course .col-sm-3,
#highlight-course .col-sm-4,
#highlight-course .col-sm-5,
#highlight-course .col-sm-6,
#highlight-course .col-sm-7,
#highlight-course .col-sm-8,
#highlight-course .col-sm-9,
#highlight-course .col-sm-auto,
#highlight-course .col-xl,
#highlight-course .col-xl-1,
#highlight-course .col-xl-10,
#highlight-course .col-xl-11,
#highlight-course .col-xl-12,
#highlight-course .col-xl-2,
#highlight-course .col-xl-3,
#highlight-course .col-xl-4,
#highlight-course .col-xl-5,
#highlight-course .col-xl-6,
#highlight-course .col-xl-7,
#highlight-course .col-xl-8,
#highlight-course .col-xl-9,
#highlight-course .col-xl-auto {
  padding-right: 12px;
  padding-left: 12px;
}

#highlight-course .row {
  margin-right: -12px;
  margin-left: -12px;
}

#promotion .col-md-6 {
  padding-right: 12px;
  padding-left: 12px;
}

#promotion .row {
  margin-right: -12px;
  margin-left: -12px;
}