/* ----- Common ----- */

hr {
  margin-top: 1rem;
  margin-bottom: .65rem;
  border-top: 1px solid #555;
}


/* ----- Section courses  ----- */

#beginners {
  padding-top: 120px;
  padding-bottom: 0;
}

#courses .box {
  border-radius: 20px;
  margin-bottom: 24px;
  transition: 0.5s;
  padding-top: 26px;
  border: 1px solid var(--secondary-border-color);
  color: var(--primary-text);
  display: block;
}

#courses .box:hover {
  cursor: pointer;
  transform: scale(1.04);
  text-decoration: none;
}

#courses .box .icon-cover {
  background-color: var(--third-background);
  border-radius: 50%;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#courses .box .icon-cover i {
  font-size: 48px;
}

#courses .box .box-body {
  padding: 16px 18px 12px;
  width: 100%;
}

#courses .box .box-body h4 {
  font-size: 17px;
  line-height: 1.5;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#courses .box .box-body p {
  font-size: 15px;
  min-height: 132px;
}

#courses .box .box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px 12px;
  font-weight: 400;
  border-top: 1px solid var(--third-border-color);
}

#courses .box .box-footer .price {
  color: var(--secondary-highlight-text);
}

#courses .work {
  padding-top: 100px;
}

@media (max-width: 991.98px) {}

@media (max-width: 575.98px) {}


/* ----- Section follow  ----- */

#follow {
  padding-top: 100px;
  padding-bottom: 0;
}

#follow .text-right p {
  margin-bottom: 50px;
}

#follow a:hover {
  text-decoration: none;
}

#follow .box {
  padding: 16px 20px 12px;
  border-radius: 20px;
  transition: .5s;
}

#follow .box:hover {
  transform: translateY(12px);
}

#follow .box .media i {
  font-size: 45px;
  margin-right: 20px;
}

#follow .box .media .media-body h4 {
  font-size: 17px;
  margin-top: -1px;
  margin-bottom: 4px;
}

#follow .box .media .media-body p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-text);
}

@media (max-width: 991.98px) {
  #follow {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

@media (max-width: 575.98px) {
  #follow .text-right h1 {
    font-size: 50px;
  }
  #follow .box {
    margin-top: 20px;
  }
  #follow .box:hover {
    transform: translateY(10px);
  }
}


/* Contact form --------------------------------------------------------------------- */

#contact {
  padding-top: 120px;
  padding-bottom: 120px;
}

#contact .box {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 50px 50px;
  border-radius: 32px;
}

#contact img {
  max-width: 50%;
  vertical-align: middle;
  display: inline-block;
}

#contact .image-1 {
  left: 300px;
  bottom: -90px;
}

#contact .image-2 {
  left: -35px;
  top: 300px;
}

#contact .image-3 {
  left: 280px;
  bottom: 40px;
}

#contact .image-4 {
  left: auto;
  right: -200px;
  bottom: -200px;
}

#contact .image-5 {
  left: 150px;
  top: 200px;
}

#contact .image-6 {
  left: -120px;
  top: 160px;
}

#contact .form-contact {
  margin-top: 16px;
}

#contact .input-group {
  margin-bottom: 16px;
}

#contact .form-control {
  font-size: 16px;
  border-radius: 12px;
  padding: 10px 16px;
  height: calc(1.5em + .75rem + 10px);
  background-color: var(--body-background);
  border: 2px solid var(--fourth-border-color);
  color: var(--secondary-text);
}

#contact textarea.form-control {
  height: auto !important;
}

#contact .form-control:focus {
  border-color: var(--third-border-color);
  box-shadow: 0 0 0 1px var(--third-border-color);
}

@media (max-width: 1199.98px) {
  #contact .container {
    max-width: 954px;
  }
  #contact .container h1 {
    margin-right: 20px;
    text-align: center;
    font-size: 50px;
  }
}

@media (max-width: 991.98px) {
  #contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #contact .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  #contact .container {
    padding: 15px;
    max-width: 540px;
    background-color: transparent !important;
  }
  #contact .container .wrap {
    display: none;
  }
}

@media (max-width: 575.98px) {
  #contact .box {
    padding: 32px 30px 40px;
  }
}


/* Col ------------------------------------------------------------------------------ */

#courses .col-sm-6,
#courses .col-md-6,
#courses .col-lg-4,
#courses .col-xl-3 {
  padding-right: 12px;
  padding-left: 12px;
}

#courses .row {
  margin-right: -12px;
  margin-left: -12px;
}

#follow .col-sm-6,
#follow .col-md-6,
#follow .col-lg-3 {
  padding-right: 12px;
  padding-left: 12px;
}

#follow .row {
  margin-right: -12px;
  margin-left: -12px;
}