/* ----- Common ----- */

hr {
  margin-top: 1rem;
  margin-bottom: .65rem;
  border-top: 1px solid #555;
}


/* ----- Section courses  ----- */

#courses .card {
  background-color: var(--secondary-background);
  border-radius: 20px;
  height: 480px;
  margin-bottom: 28px;
}

#courses .card .card-header {
  color: var(--secondary-text);
  letter-spacing: 1px;
  background-color: transparent;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}

.card-header i {
  font-size: 16px;
  margin-right: 5px;
}

.card-header span {
  font-size: 16px;
  font-weight: 500;
}

#courses .card .card-body {
  padding: 0 24px 24px 24px;
}

#courses .card .card-body .card-text .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 4px;
  margin-bottom: 16px;
  display: block;
  color: var(--secondary-highlight-text);
}

#courses .card .card-body .card-text .text-small {
  color: #b0b3b8;
  font-size: 13px;
  margin-bottom: 4px;
}

#courses .card .card-body .card-text .title:hover {
  color: #c7af8b;
  text-decoration: none;
}

#courses .card-text .tags .tag {
  display: inline-block;
  margin-top: 8px;
  margin-right: 2px;
  padding: 3px 10px;
  border-radius: 16px;
  text-transform: uppercase;
  color: var(--secondary-text);
  border: 2px solid var(--fourth-border-color);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  transition: .3s;
}

#courses .card-text .tags .tag:hover {
  text-decoration: none;
  color: var(--secondary-text);
  border: 2px solid var(--fourth-border-color);
  background-color: var(--fourth-border-color);
  cursor: pointer;
}

#courses .card .card-body .card-text .price {
  position: absolute;
  bottom: 110px;
  padding: 4px 16px 4px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 0;
  width: calc(100% - 3.5rem);
  text-align: center;
  background-color: #3a3b3c;
  background-image: linear-gradient(to right, var(--secondary-background), var(--fourth-background), var(--secondary-background));
}

#courses .card .card-body .user {
  position: absolute;
  bottom: 24px;
}

#courses .card .card-body .user .media {
  margin-bottom: 0;
}

#courses .card .card-body .media .circle {
  border: 3px solid #28a745;
  border-radius: 50%;
  margin-right: .75rem;
  padding: .35rem;
}

#courses .card .card-body .media .circle .avatar {
  width: 3.25rem;
  border-radius: 50%;
}

#courses .card .card-body .user .media .circle {
  border: 3px solid #28a745;
}

#courses .card .card-body .user .media .circle:hover {
  border: 3px solid #18d844;
}

#courses .card .card-body .user .media-body a {
  color: #dfdfdf;
  display: block;
  font-size: 16px;
}

#courses .card .card-body .user .media-body a.username {
  color: #b0b3b8;
  font-size: .8rem;
  margin-bottom: .25rem;
}

#courses .card .card-body .user .media-body a:hover,
#courses .card .card-body .user .media-body a.username:hover {
  color: #c7af8b;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  #courses .text-left h1 {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  #courses .card .card-header {
    padding: 12px 25px 10px;
  }
  #courses .card .card-body {
    padding: 0 25px 25px 25px;
  }
  #courses .card .card-body .user {
    bottom: 25px;
  }
  #courses .card .card-body .card-text .price {
    bottom: 115px;
  }
}


/* ----- Section follow  ----- */

#follow {
  padding-top: 70px;
  padding-bottom: 100px;
}

#follow .text-right h1 {
  font-size: 55px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-style: normal;
}

#follow .text-right h6 {
  font-size: 16px;
  letter-spacing: 1px;
  font-style: normal;
}

#follow .text-right p {
  margin-top: 30px;
}

#follow a {
  color: #ccc;
}

#follow a:hover {
  text-decoration: none;
}

#follow .box {
  padding: 25px 28px 22px;
  border-radius: 20px;
  margin-top: 30px;
  position: relative;
  transition: .5s;
  display: block;
  background-color: #1d1d1d;
}

#follow .box:hover {
  transform: translateY(15px);
}

#follow .box .media i {
  font-size: 45px;
  margin-right: 20px;
}

#follow .box .media .media-body h4 {
  font-size: 17px;
  margin-top: -1px;
  margin-bottom: 4px;
}

#follow .box .media .media-body p {
  margin-bottom: 0;
  font-size: 14px;
}

@media (max-width: 991.98px) {
  #follow {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

@media (max-width: 575.98px) {
  #follow {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #follow .text-right h1 {
    font-size: 50px;
  }
  #follow .box {
    margin-top: 20px;
  }
  #follow .box:hover {
    transform: translateY(10px);
  }
}