/* ----- Common ----- */

.one-ui {
  padding: 16px 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.one-ui h5 {
  font-weight: 400;
}

hr {
  margin-top: 1rem;
  margin-bottom: .65rem;
  border-top: 1px solid #555;
}

.modal-body span {
  font-size: 18px;
  font-weight: 500;
}


/* ----- Common ----- */

h1.title {
  font-size: 55px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-style: normal;
}

h6.sub-title {
  font-size: 18px;
  letter-spacing: 1px;
  font-style: normal;
}


/* ----- Section cover ----- */

#cover {
  padding-top: 80px;
  padding-bottom: 80px;
}

#cover .container {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 120px 100px;
  border-radius: 32px;
  max-width: 82%;
}

#cover h1 {
  font-size: 65px;
  margin-top: 12px;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
}

#cover p {
  margin: 30px 0;
  letter-spacing: 1px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
}

#cover .wrap {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#cover img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

#cover .image-1 {
  left: -75px;
  bottom: 20px;
}

#cover .image-2 {
  left: -33px;
  top: 195px;
}

#cover .image-3 {
  left: -11px;
  bottom: -141px;
}

#cover .image-4 {
  left: auto;
  right: -91px;
  bottom: -312px;
}

#cover .image-5 {
  left: 7px;
  top: 35px;
}

#cover .image-6 {
  left: -155px;
  top: 40px;
}

@media (max-width: 1199.98px) {
  #cover .container {
    max-width: 930px;
  }
  #cover .image-1 {
    left: 320px;
    bottom: -280px;
  }
  #cover .image-2 {
    left: 277px;
    top: 95px;
  }
  #cover .image-3 {
    left: 630px;
    bottom: 36px;
  }
  #cover .image-4 {
    right: 99px;
    bottom: -192px;
  }
  #cover .image-5 {
    left: 7px;
    top: 35px;
  }
  #cover .image-6 {
    left: 380px;
    top: -100px;
  }
}

@media (max-width: 991.98px) {
  #cover {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  #cover .container {
    padding: 100px 80px;
    border-radius: 30px;
  }
  #cover .container {
    max-width: 690px;
  }
  #cover .image-1 {
    bottom: -213px;
  }
  #cover .image-2 {
    top: 115px;
  }
  #cover .image-4 {
    right: 49px;
    bottom: -102px;
  }
  #cover .image-6 {
    left: -295px;
    top: 80px;
  }
}

@media (max-width: 767.98px) {
  #cover {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  #cover .container {
    max-width: 540px;
    padding: 80px 60px 60px;
    border-radius: 30px;
  }
  #cover h1 {
    font-size: 50px;
    text-align: center;
  }
  #cover .image-1 {
    bottom: -280px;
  }
  #cover .image-3 {
    left: 110px;
    bottom: -50px;
  }
  #cover .image-4 {
    bottom: -200px;
    right: -80px;
  }
  #cover .image-6 {
    left: -100px;
    top: 20px;
  }
}

@media (max-width: 575.98px) {
  #cover {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #cover .container {
    max-width: 92%;
    border-radius: 18px;
    padding: 100px 40px 60px;
  }
  #cover h1 {
    font-size: 50px;
    text-align: center;
  }
  #cover p {
    text-align: center;
  }
  #cover .btn-view-more {
    padding: 10px 50px;
    margin: 30px 0;
  }
  #cover .text-left {
    text-align: center !important;
  }
}


/* ----- Section object ----- */

#object {
  padding-top: 80px;
  padding-bottom: 60px;
}

#object p {
  margin: 30px 0;
  font-style: normal;
}

#object p i {
  font-size: 8px;
  position: absolute;
  margin-top: 5px;
}

#object .box {
  padding: 16px 24px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: .5s;
  align-items: center;
}

#object .box p {
  margin: 0;
}

#object .box:hover {
  transform: translateX(24px);
  cursor: pointer;
}

#object .box i {
  margin-right: 24px;
  font-size: 36px;
}

#object .box h5 {
  display: inline;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 10px 0;
}

#object .box .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#object .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #252525;
  border-radius: 20px;
  line-height: 1.5;
}

#object .is-displayed {
  opacity: 1;
}

#object .box:hover .overlay {
  opacity: 1;
}

#object .text {
  color: #ccc;
  font-size: 16px;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 25px 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 991.98px) {
  #object {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  #object h1 {
    margin-top: 15px;
  }
}

@media (max-width: 575.98px) {
  #object {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  #object h1 {
    font-size: 50px;
  }
  #object .btn-show-more {
    margin: 0 0 50px;
  }
  #object .text-left {
    text-align: center !important;
  }
  #object .box:hover {
    transform: translateY(10px);
  }
  #object .text {
    font-size: 15px;
    padding: 20px 15px;
  }
}


/*----- Section benefit -----*/

#benefit {
  padding-top: 80px;
  padding-bottom: 80px;
}


/*----- Section highlight course -----*/

#highlight-course {
  padding-top: 60px;
  padding-bottom: 80px;
}

#highlight-course .list-highlight-course .box {
  padding: 16px 24px;
  border-radius: 20px;
  background-color: #1d1d1d;
}

#highlight-course .list-highlight-course .box i {
  color: #c4b08f;
  background-color: #2d2d2d;
  width: 94px;
  padding: 26px 0;
  border-radius: 20px;
  margin-top: -44px;
  font-size: 40px;
  text-align: center;
  transition: all 0.5s;
  transform: scale(1);
}

#highlight-course .list-highlight-course .box:hover i {
  transform: scale(1.08);
}

#highlight-course .list-highlight-course .box p {
  margin-top: 12px;
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}


/*----- Section course -----*/

#course {
  padding-top: 60px;
  padding-bottom: 80px;
}

#course .text-left p {
  margin: 30px 50px 30px 0;
}

#course .list-course .box {
  border-radius: 20px;
  background-color: #1d1d1d;
  margin-bottom: 24px;
  transition: 0.5s;
}

#course .list-course .box:hover {
  cursor: pointer;
  transform: scale(1.04);
}

#course .list-course .box .icon-cover {
  background-color: #252525;
  border-radius: 20px 20px 0 0;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#course .list-course .box .icon-cover i {
  font-size: 48px;
}

#course .list-course .box .box-body {
  padding: 20px;
  width: 100%;
}

#course .list-course .box .box-body h4 {
  font-size: 17px;
}

#course .list-course .box .box-body p {
  font-size: 14px;
}

#course .list-course .box .box-body .icon {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 75px;
  position: relative;
}

#course .list-course .box .box-body .icon .center-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* ----- Section faq ----- */

#faq {
  padding-top: 100px;
  padding-bottom: 100px;
}

#faq .text-left h1 {
  font-size: 55px;
  letter-spacing: 1px;
  font-style: normal;
}

#faq .text-left h1 span {
  font-size: 38px;
}

#faq .text-left p {
  margin-bottom: 30px;
}

#faq a {
  padding: 9px 16px;
  border: 2px solid #333;
  width: 100%;
  text-align: left;
  display: inline-block;
  color: #03bb65;
  border-radius: 14px;
  background-color: #1d1d1d;
}

#faq a:hover {
  text-decoration: none;
}

#faq .collapsed i {
  transform: rotate(-90deg);
  transition: .6s;
  margin-top: 6px;
}

#faq a i {
  transition: .6s;
  margin-top: 6px;
}

#faq .collapse-panel {
  margin-bottom: 16px;
}

#faq .card {
  border-radius: 0;
}

#faq .card-body {
  padding: 10px 16px;
  border: 2px solid #444;
  border-top: none;
  background: transparent;
  border-radius: 14px;
}

@media (max-width: 991.98px) {
  #faq .text-left p {
    margin-bottom: 35px;
  }
}

@media (max-width: 767.98px) {
  #faq {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}


/* ----- Register ----- */

.divider {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.divider:before,
.divider:after {
  content: '';
  height: 2px;
  background-color: #544e45;
  flex: 1;
}

.divider:before {
  margin-right: 20px;
}

.divider:after {
  margin-left: 20px;
}

.modal {
  padding: 0 !important;
}


/* #registerModal .modal-dialog {
  max-width: 100%;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #151515 inset !important;
}


/*Change text in autofill textbox*/

input:-webkit-autofill {
  -webkit-text-fill-color: #aaa !important;
}


/* #registerModal .modal-backdrop.show {
  opacity: 1 !important;
} */

#registerModal .modal-content {
  border-radius: 12px;
  background-color: #1d1d1d;
  border: none;
}

#registerModal .modal-header {
  border-bottom: 1px solid transparent !important;
  padding: 20px 20px 18px 20px;
}

#registerModal .modal-header .close {
  font-size: 35px;
  padding: 4px 5px;
  color: #d4d4d4;
  text-shadow: none;
}

#registerModal .modal-header .close:hover {
  color: #ffcf5c;
}

#registerModal .modal-header .close:focus {
  outline: none;
}

#registerModal .modal-body {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

#registerModal .modal-body .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #c7af8b;
  background-color: #c7af8b;
}

#registerModal .modal-body p {
  line-height: 25px;
}

#registerModal .modal-body form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}

#registerModal .modal-body .form-control {
  border: 1px solid #333;
  background-color: #151515;
  border-radius: 0 8px 8px 0;
  color: #aaa;
}

#registerModal .modal-body .custom-select {
  height: calc(1.5em + 1rem + 2px);
}

#registerModal .modal-body .form-control .custom-control-label {
  font-size: 1rem;
}

#registerModal .modal-body .form-control.form-control-lg {
  font-size: 17px;
}

#registerModal .modal-body .form-control:focus {
  box-shadow: none;
  border-color: #6f6350;
}

#registerModal .modal-body .input-group-text {
  border-radius: 8px 0 0 8px;
  padding: .375rem 1rem;
  border: 1px solid #333;
  background-color: #1c1c1c;
  font-size: 17px;
  color: #c7af8b;
}

#registerModal .modal-body input.form-control {
  border-radius: 0 8px 8px 0;
}

#registerModal .modal-body textarea.form-control {
  border-radius: 8px;
}

#registerModal .modal-body .btn-submit {
  border: none;
  font-size: 1rem;
  border: 1px solid #333;
  background-color: #151515;
  border-radius: .5rem;
  padding: 0 1.25rem;
  height: calc(2.25em + 7px);
  width: 100%;
  font-weight: 500;
  color: #c7af8b;
}

.text label {
  font-size: 15px;
}

#registerModal .modal-body .btn-submit:hover {
  outline: 0;
  color: #ffcf5c;
  box-shadow: none;
  background-color: #282828;
}

@media (max-width: 575.98px) {
  #registerModal .modal-dialog {
    margin-left: 0;
    margin-right: 0;
  }
  #registerModal .modal-body {
    max-height: 80vh;
    overflow-y: auto;
  }
  #registerModal .modal-body form {
    margin-top: 40px;
  }
}


/*----- Timeline css -----*/

.timeline {
  margin: 0 auto;
  padding: 0;
  max-width: 840px;
  position: relative;
}

.timeline:before {
  position: absolute;
  top: 7px;
  bottom: 100px;
  width: 3px;
  background: #444;
  left: 5px;
  margin-left: 0px;
}

.timeline-item:before,
.timeline:before {
  content: '';
}

::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-item {
  position: relative;
  padding-left: 60px;
  list-style: none;
}

.timeline-item+.timeline-item {
  margin-top: 30px;
}

.timeline-item:before {
  position: absolute;
  top: 5px;
  left: 0;
  border: 2px solid #666;
  width: 14px;
  height: 14px;
  background-color: #f1b200;
  border-radius: 50px;
}

.timeline-date {
  position: absolute;
  display: block;
  left: 0;
  top: -2px;
  width: 90px;
  text-align: left;
  overflow: hidden;
  transition: .5s;
}

.timeline-date span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 28px;
  font-size: 15px;
  color: #777777;
}

.timeline-content:before {
  content: "";
}

.timeline-content {
  position: relative;
  min-height: 85px;
  transition: .5s;
}


/* ----- Col ----- */

#course .col,
#course .col-1,
#course .col-10,
#course .col-11,
#course .col-12,
#course .col-2,
#course .col-3,
#course .col-4,
#course .col-5,
#course .col-6,
#course .col-7,
#course .col-8,
#course .col-9,
#course .col-auto,
#course .col-lg,
#course .col-lg-1,
#course .col-lg-10,
#course .col-lg-11,
#course .col-lg-12,
#course .col-lg-2,
#course .col-lg-3,
#course .col-lg-4,
#course .col-lg-5,
#course .col-lg-6,
#course .col-lg-7,
#course .col-lg-8,
#course .col-lg-9,
#course .col-lg-auto,
#course .col-md,
#course .col-md-1,
#course .col-md-10,
#course .col-md-11,
#course .col-md-12,
#course .col-md-2,
#course .col-md-3,
#course .col-md-4,
#course .col-md-5,
#course .col-md-6,
#course .col-md-7,
#course .col-md-8,
#course .col-md-9,
#course .col-md-auto,
#course .col-sm,
#course .col-sm-1,
#course .col-sm-10,
#course .col-sm-11,
#course .col-sm-12,
#course .col-sm-2,
#course .col-sm-3,
#course .col-sm-4,
#course .col-sm-5,
#course .col-sm-6,
#course .col-sm-7,
#course .col-sm-8,
#course .col-sm-9,
#course .col-sm-auto,
#course .col-xl,
#course .col-xl-1,
#course .col-xl-10,
#course .col-xl-11,
#course .col-xl-12,
#course .col-xl-2,
#course .col-xl-3,
#course .col-xl-4,
#course .col-xl-5,
#course .col-xl-6,
#course .col-xl-7,
#course .col-xl-8,
#course .col-xl-9,
#course .col-xl-auto {
  padding-right: 12px;
  padding-left: 12px;
}

#course .row {
  margin-right: -12px;
  margin-left: -12px;
}