/* ----- Common ----- */

@media (max-width: 991.98px) {
  .text-left,
  .text-right {
    text-align: center !important;
  }
}

.w-85 {
  width: 85%;
}

.w-70 {
  width: 70%;
}

.w-55 {
  width: 55%;
}

@media (max-width: 767.98px) {
  .w-85,
  .w-70,
  .w-55 {
    width: 100%;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: .65rem;
  border-top: 1px solid #555;
}


/* ----- Section cover ----- */

#cover {
  padding-top: 90px;
  padding-bottom: 80px;
}

#cover .container {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 120px 100px;
  border-radius: 32px;
  max-width: 80%;
}

#cover h1 {
  font-size: 65px;
  margin-top: 12px;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
}

#cover p {
  margin: 30px 0;
  letter-spacing: 1px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
}

#cover .btn-view-more {
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 50px;
  margin: 25px 0;
  font-weight: 500;
  background-color: #333;
  border: 2px solid #333;
  text-transform: uppercase;
  color: #ddd;
  transition: .5s;
}

#cover .btn-view-more:hover {
  color: #ffcf5c !important;
  border-color: #ffcf5c;
  background-color: #333;
}

#cover .wrap {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1199.98px) {
  #cover .container {
    max-width: 930px;
  }
}

@media (max-width: 991.98px) {
  #cover {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #cover .container {
    max-width: 690px;
  }
}

@media (max-width: 767.98px) {
  #cover {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #cover .container {
    max-width: 540px;
    padding: 100px 50px;
  }
}

@media (max-width: 575.98px) {
  #cover {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #cover .container {
    max-width: 92%;
    padding: 100px 40px 80px;
  }
  #cover h1 {
    font-size: 50px;
    text-align: center;
  }
  #cover p {
    text-align: center;
  }
  #cover .btn-view-more {
    padding: 10px 50px;
    margin: 30px 0;
  }
  #cover .text-left {
    text-align: center !important;
  }
}


/* ----- Section courses  ----- */

#courses .text-left h1 {
  font-size: 55px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-style: normal;
}

#courses h6 {
  font-size: 16px;
  letter-spacing: 1px;
  font-style: normal;
}

#courses .text-left p {
  margin: 30px 0 60px 0;
}

#courses .card {
  background-color: #1d1d1d;
  border-radius: 20px;
  height: 380px;
}

#courses .card .card-header {
  color: #c7af8b;
  letter-spacing: 1px;
  background-color: transparent;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  padding: 12px 20px 10px;
  display: flex;
  justify-content: space-between;
}

.card-header i {
  font-size: .75rem;
}

.card-header span {
  font-size: .8rem;
  margin-left: .25rem;
  font-weight: 500;
}

#courses .card .card-body {
  padding: 0 20px 20px 20px;
}

#courses .card .card-body .card-text .title {
  font-size: 21px;
  font-weight: 500;
  color: #dfdfdf;
  line-height: 1.25;
  margin-bottom: 10px;
  display: inline-block;
}

#courses .card .card-body .card-text .text-small {
  color: #b0b3b8;
  font-size: 13px;
  margin-bottom: 4px;
}

#courses .card .card-body .card-text .title:hover {
  color: #c7af8b;
  text-decoration: none;
}

#courses .card-text .tags .tag {
  display: inline-block;
  margin-top: .35rem;
  margin-right: 2px;
  padding: .15rem .5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  color: #b0b3b8;
  border: 2px solid #3a3b3c;
  font-style: normal;
  font-weight: 700;
  font-size: .6rem;
  transition: .3s;
}

#courses .card-text .tags .tag:hover {
  text-decoration: none;
  color: #e4e6eb;
  border: 2px solid #3a3b3c;
  background-color: #3a3b3c;
  cursor: pointer;
}

#courses .card .card-body .card-text .price {
  position: absolute;
  bottom: 110px;
  padding: 0 15px 2px;
  font-weight: 400;
  font-size: 1.25rem;
  border-radius: 0;
  width: calc(100% - 3.5rem);
  text-align: center;
  background-color: #3a3b3c;
  background-image: linear-gradient(to right, #1d1d1d, #3a3b3c, #1d1d1d);
}

#courses .card .card-body .user {
  position: absolute;
  bottom: 20px;
}

#courses .card .card-body .user .media {
  margin-bottom: 0;
}

#courses .card .card-body .media .circle {
  border: 3px solid #28a745;
  border-radius: 50%;
  margin-right: .75rem;
  padding: .35rem;
}

#courses .card .card-body .media .circle .avatar {
  width: 3.25rem;
  border-radius: 50%;
}

#courses .card .card-body .user .media .circle {
  border: 3px solid #28a745;
}

#courses .card .card-body .user .media .circle:hover {
  border: 3px solid #18d844;
}

#courses .card .card-body .user .media-body a {
  color: #dfdfdf;
  display: block;
  font-size: 16px;
}

#courses .card .card-body .user .media-body a.username {
  color: #b0b3b8;
  font-size: .8rem;
  margin-bottom: .25rem;
}

#courses .card .card-body .user .media-body a:hover,
#courses .card .card-body .user .media-body a.username:hover {
  color: #c7af8b;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  #courses .text-left h1 {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  #courses .card .card-header {
    padding: 12px 25px 10px;
  }
  #courses .card .card-body {
    padding: 0 25px 25px 25px;
  }
  #courses .card .card-body .user {
    bottom: 25px;
  }
  #courses .card .card-body .card-text .price {
    bottom: 115px;
  }
}


/* ----- Section follow  ----- */

#follow {
  padding-top: 70px;
  padding-bottom: 100px;
}

#follow .text-right h1 {
  font-size: 55px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-style: normal;
}

#follow .text-right h6 {
  font-size: 16px;
  letter-spacing: 1px;
  font-style: normal;
}

#follow .text-right p {
  margin-top: 30px;
}

#follow a {
  color: #ccc;
}

#follow a:hover {
  text-decoration: none;
}

#follow .box {
  padding: 25px 28px 22px;
  border-radius: 20px;
  margin-top: 30px;
  position: relative;
  transition: .5s;
  display: block;
  background-color: #1d1d1d;
}

#follow .box:hover {
  transform: translateY(15px);
}

#follow .box .media i {
  font-size: 45px;
  margin-right: 20px;
}

#follow .box .media .media-body h4 {
  font-size: 17px;
  margin-top: -1px;
  margin-bottom: 4px;
}

#follow .box .media .media-body p {
  margin-bottom: 0;
  font-size: 14px;
}

@media (max-width: 991.98px) {
  #follow {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

@media (max-width: 575.98px) {
  #follow {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #follow .text-right h1 {
    font-size: 50px;
  }
  #follow .box {
    margin-top: 20px;
  }
  #follow .box:hover {
    transform: translateY(10px);
  }
}